body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  background-color: #F5F7FB;
  margin: 2rem auto;
  max-width: 550px;
  border-radius: 4px;
  position: relative;
}
.wrap-center{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 550px;
  width: 90%;
}
.starter__content{
}
.blob-1{
position: absolute;
left: 71%;
bottom: 74%;

}
.blob-2{
  position: absolute;
  right: 73%;
  top: 78%;
}
.blob-s1{
  position: absolute;
  left: 77%;
  bottom: 76%;
}
.blob-s2 {
  position: absolute;
  right: 88%;
  top: 88%;
}
.starter__content h2{
  font-size: 2rem;
}
.starter__content p{
  font-size: 1rem
}
.quiz-wrapper{
border-bottom: 1px solid #DBDEF0;
  margin-bottom: 1rem;
}
.questions__content{
  padding:2rem 4rem;
}
.answers{
  margin-bottom: 1rem;
}
.answers > * + *{
  margin-left: 1rem;
}

.btn{
  display: inline-block;
  margin: 5px;
  background: none;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: .9rem;
  margin-bottom: 1rem;
  text-transform: lowercase;
}
.btn-primary{
  background-color: #4D5B9E;
  color: #fff;
  padding: .9rem 1.8rem;
}
.btn-outline{
  background-color: transparent;
  border: 1px solid #4D5B9E;
  padding: .6rem;
  cursor: pointer;
  font-size: .9rem;
  margin-bottom: 1rem;
  text-transform: lowercase;
  list-style:none;
}
