/* HEADER SECTION */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  padding: 0 20px;
  margin-bottom: 20px;
}

/* CONTAINER STYLE */
.app-container{
  max-width: 600px;
  width: 85%;
  margin: 0 auto;
}

/*FORM STYLES */
.form{
  padding: 20px;
}

.form-field{
  display: grid;
  grid-template: 50px 50px / 1fr 1fr;
  gap: 18px;
}
.form-field__input{
  padding: 12px;
  font-size: .9rem;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  margin-bottom: 20px;
  width: 80%;
  outline: none;
}

.btn{
  border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: #fff;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}

/*MEME STYLES */
.meme{
  position: relative;
}
.meme__img{
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.meme__text {
  position: absolute;
  width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
 .meme--top{
 top: 0;
}
.meme--bottom{
  bottom: 0;
}